@model Net_P5.Models.Voiture
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Détails de la voiture";
}

<div class="container">
    <div class="row text-center mb-5">
        <h1 class="titre mb-3 visually-hidden">Détails de la voiture</h1>
    </div>
    <div class="row">
        <div class="mb-4">
            <a asp-action="Index" class="return-link text-decoration-none">← Retour</a>
        </div>
        
        <div class="card h-100 border-0">
            <div class="row mb-5">
                <div class="col-12 col-lg-8">
                    @if (Model.PhotoUrl == null)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Fiat500-pot-de-yaourt-av-byRundvald.jpg" class="img-fluid rounded-start-3 rounded-end-1" alt=" Photo de @Model.NomComplet" "  />
                    }
                    else
                    {
                        <img src="@Model.PhotoUrl" class="img-fluid rounded-start-3 rounded-end-1" alt="Image par défaut ne correspondant pas à la @Model.NomComplet" />
                    }
                </div>
                <div class="col-12 col-lg-4">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="text-normal mb-5">
                            Vous avez publié cette annonce, vous pouvez la :
                            <a class="btn btn-modifier" asp-controller="Voiture" asp-action="Edit" asp-route-id="@Model.Id" role="button" aria-label="Modifier ce véhicule">Modifier</a>
                            <a class="btn btn-supprimer" href="#" data-bs-toggle="modal" data-bs-target="#ConfirmerSuppression" role="button"
                                aria-label="Supprimer ce véhicule (ouvre confirmation)" aria-haspopup="dialog" aria-expanded="false" aria-controls="ConfirmerSuppression">
                                Supprimer
                            </a>
                        </div>
                        <div class="modal fade" id="ConfirmerSuppression" tabindex="-1" aria-labelledby="ModalSuppression" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title fs-5" id="ModalSuppression">Confirmer la suppression ?</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row d-flex justify-content-center">
                                            <form asp-controller="Voiture" asp-action="Delete" asp-route-id="@Model.CodeVIN" method="post">
                                                <button type="submit" class="btn btn-primary">Oui, supprimer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @{
                        var reparation = Model.Reparations.FirstOrDefault();
                        var vente = Model.Ventes.FirstOrDefault();
                    }
                    
                    <div class="card-body align-content-center">
                        <div class="card-title detail-item">
                            Prix de vente :
                            <div class="mt-2">@Model.PrixVente.ToString("C2")</div>
                            <div class="fst-italic mt-3">@Model.Statut</div>
                        </div>
                        <div class="card-text fw-bold mt-5">
                            Année de fabrication :
                            <div class="fw-normal">
                                @Model.Annee
                            </div>
                        </div>
                        <div class="card-text fw-bold mt-3">
                            Marque :
                            <div class="fw-normal">
                                @Model.Finition.Modele.Marque.Nom
                            </div>
                        </div>
                        <div class="card-text fw-bold mt-3">
                            Modèle :
                            <div class="fw-normal">
                                @Model.Finition.Modele.Nom
                            </div>
                        </div>
                        <div class="card-text fw-bold mt-3">
                            Finition :
                            <div class="fw-normal">
                                @Model.Finition.Nom
                            </div>
                        </div>
                        <div class="card-text fw-bold mt-3">
                            Détail des réparations :
                            <div class="fw-normal">
                                @reparation!.Detail
                            </div>
                        </div>
                        <div class="card-text fw-bold mt-3">
                            Date de disponibilité :
                            <div class="fw-normal">
                                @reparation!.DateDisponibilite
                            </div>
                        </div>
                        @if (vente != null)
                        {
                            <div class="card-text fw-bold mt-3">
                                Date de vente :
                                <div class="fw-normal">
                                    @vente.DateVente
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Script pour initialisation des popovers-->
@section Scripts {
    <script>
        $(document).ready(function(){
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl, {
                    html: true,
                    trigger: 'click'
                });
            });
        });
    </script>
}
